# Android
*.iml
.gradle/
local.properties
.idea/
.DS_Store
build/
captures/
.externalNativeBuild/
.cxx/
*.keystore
!debug.keystore

# Generated
app/release/
app/debug/
google-services.json
*.png
convert-icon.sh
